// normalize lists
@mixin tameLists(){
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style:none;
  }
}

// clearfix
@mixin clear() {
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

// slight left bump from design
@mixin bumpLeft160(){
  padding-left: 160px;
}


// clear
@mixin clearfix() {
  &:before, &:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden;
  }
  &:after {
      clear: both;
  }
}

@mixin searchPlaceholder(){
  font-family: $serif;
  font-style: italic;
  color: #003366;
  font-size: 1.5em;
}


@mixin fontSmoothing(){
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin roundedSearch(){
  // search
  .search-a {
    text-align: right;
    label {
      position: absolute;
      top: 29px;
      .eq-ie11 & { top: 25px; }
      left: 17px;
      color: #003366;
      font: italic 1.5em/1 $serif;
      .ff &, .chrome & {
        top: 25px;
      }
    }
    input[type="text"]{
      border-radius: 30px;
      border: 0;
      width: 100%;
      line-height: 1em;
      position: absolute;
      top: 14px;
      .chrome & { top: 10px; }
      .eq-ie11 & { top: 10px; }
      right: 0;
      color: #003366;
      font: italic 1.5em/1 $serif;
      padding: .5em .8em;
    }

    p {
      position: relative;
      margin: 0;
      padding: 0;
    }

    button {
      background: none;
      border: 0;
      font-family: "icomoon";
      position: absolute;
      top: 19px;
      right: 10px;
      width: 43px;
      height: 50px;
      .chrome & { top: 17px; }
      .ios & { width: 56px; top: 22px; }
      &:before {
        content: "\73";
        font-size: 35px;
        color: $brandDarkBlue;
      }
      span {
        display: block;
        text-indent: -999em;
      }
    }

  }// site search
}
