$brandTan: #A0A08E;
$brandDarkBlue: #002D5B;
$brandLightBlue: #034F96;
$brandLighterBlue: #50A3F0;
$brandHeadingBlue: #003366;
$brandOrange: #F1BD22;
$brandOrangeHover: #FBDF83;
$brandGreyScreen: #EBEBEB;
$brandAlertPink: #EE2389;

$leftColGutter: 160px;

$serif: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
$sansSerif: "Helvetica Neue", Helvetica, Arial, sans-serif;
